Uconnect/GilgitApp Blog Posts Workflow (Done-Finalized)/GilgitApp Blog Posts Workflow (Done-Finalized).json
{
  "name": "GilgitApp Blog Posts Workflow (Done-Finalized)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Fc2WAH3CdkshRKTslRX-igbWy_fPkh9HcYd9SdeNUQ8",
          "mode": "list",
          "cachedResultName": "arif_sehsanbaig Cloud Keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fc2WAH3CdkshRKTslRX-igbWy_fPkh9HcYd9SdeNUQ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 890493958,
          "mode": "list",
          "cachedResultName": "GilgitApp blog posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fc2WAH3CdkshRKTslRX-igbWy_fPkh9HcYd9SdeNUQ8/edit#gid=890493958"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -1144
      ],
      "id": "52e7d212-1966-47d7-9f12-9cefbb4afb7b",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "A7iMSoo6iMGNphI7",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a blog using this data:\nTitle: {{ $json.title }}\nMain Topic: {{ $json[\"Main Idea / Topic\"] }}\nSEO Keywords: {{ $json[\"SEO Keywords \"] }}\nImage Hint: {{ $json[\"image prompt\"] }}\ntoDAY Date and time : {{ $now }}\nInstructions:\n- Write an engaging intro in HTML.\n- Add headings (<h1>, <h2>, <h3>) and subheadings.\n- Use <p>, <ul>, <ol>, <strong>, <em> tags for formatting.\n- Do NOT include <figure> or <img> tags.\n- Use keywords naturally.\n- End with a short conclusion.\n- Generate the following details as well:\n  - meta_title: short and SEO-friendly title\n  - meta_description: summary of blog in 150-160 characters\n  - feature_image_alt: descriptive alt text for main image\n  - custom_excerpt: short excerpt for previews (max 250 characters)\n\nReturn output in this format:\n{\n  \"blog_title\": \"string\",\n  \"blog_body\": \"string (HTML formatted content)\",\n  \"image_prompt\": \"string\",\n  \"meta_title\": \"string\",\n  \"meta_description\": \"string\",\n  \"feature_image_alt\": \"string\",\n  \"custom_excerpt\": \"string\"\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert content writer and SEO specialist. Your task is to create high-quality, professional blog posts in HTML format.\n- Use main and secondary keywords naturally.\n- Structure content with Introduction, Headings, Subheadings, Lists, Examples, and Conclusion.\n- Use proper HTML tags: <h1>, <h2>, <h3>, <p>, <ul>, <ol>, <strong>, <em>.\n- Do NOT include <figure> or <img> tags.\n- DO NOT include \\n\\n in content,\nReturn all HTML content as raw HTML without any escaped newline characters (\\n). Do not include \\n, \\r, or extra line breaks in the output. Keep HTML formatting intact using <h1>, <h2>, <h3>, <p>, <ul>, <ol>, <strong>, <em> tags only.\n-Generate a descriptive feature image alt text that is exactly 74 characters long, including spaces. Make it clear, concise, and relevant to the blog content, without using any HTML or special characters.\n- Provide the following metadata:\n  - meta_title: SEO-friendly blog title\n  - meta_description: concise summary (150-160 chars)\n  - feature_image_alt: descriptive alt text for main image\n-Generate an SEO-friendly meta title that is exactly 74 characters long, including spaces. Keep it clear, concise, and relevant to the blog content.\n  - custom_excerpt: Generate a short excerpt for previews that is exactly 74 characters long, including spaces. Make it engaging and summarize the blog content.\n- Ensure content is original, engaging, and descriptive.\n-Generate an SEO meta description for the blog with a maximum length of 450 characters, including commas and spaces. Make it descriptive, clear, and relevant to the blog content. Do not exceed 450 characters and do not include HTML tags.\n- Output only valid JSON:\n{\n  \"title\": \"string\",\n  \"slug\": \"string\",\n  \"meta_title\": \"string\",\n  \"meta_description\": \"string\",\n  \"feature_image_alt\": \"string\",\n  \"custom_excerpt\": \"string\",\n  \"sections\": [\n    {\n      \"heading\": \"string\",\n      \"paragraphs\": [\"string (HTML formatted content)\"]\n    }\n  ],\n  \"keywords\": [\"string\"]\n}\n- Escape quotes properly inside strings.\n- Do not add any extra text outside JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        -1144
      ],
      "id": "3e523b48-8e0a-4637-9b6f-3af941e5785d",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1233072-d5ee-473d-905f-4b410d3b26d3",
              "name": "title",
              "value": "={{ $json['Blog Title '] }}",
              "type": "string"
            },
            {
              "id": "1a00ee7c-e931-401e-8a65-21f384a8bf47",
              "name": "Main Idea / Topic",
              "value": "={{ $json['Main Idea / Topic'] }}",
              "type": "string"
            },
            {
              "id": "9f1b77bc-1a08-4ae6-a375-f5bace9b8e6c",
              "name": "SEO Keywords ",
              "value": "={{ $json['SEO Keywords '] }}",
              "type": "string"
            },
            {
              "id": "5fd09717-56ef-4b33-8d44-c4bde146dd80",
              "name": "image prompt",
              "value": "={{ $json['Image prompt (optional)'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -1144
      ],
      "id": "df4cbcae-2510-4b9a-b94d-28860f608c27",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4577c3c4-069c-484b-92d6-b07e69f3110d",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -32,
        -1144
      ],
      "id": "b2cabefd-56d2-4ed0-bdf3-ebfad40cd323",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d4b9bc5-a1d6-4ebf-a169-9d5bec21f6f2",
              "leftValue": "={{ $json['Blog Title '] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "478eead6-0596-485f-9337-635dc433d247",
              "leftValue": "={{ $json['Main Idea / Topic'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1de4defc-9c8c-4103-a8f9-6563e3ccc539",
              "leftValue": "={{ $json['SEO Keywords '] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        -1144
      ],
      "id": "65c57ac8-1246-4052-bad0-468c05680d3b",
      "name": "If2"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"blog_title\", \"blog_body\", \"image_prompt\", \"meta_title\", \"meta_description\", \"feature_image_alt\", \"custom_excerpt\"],\n  \"properties\": {\n    \"blog_title\": {\n      \"type\": \"string\",\n      \"minLength\": 1,\n      \"description\": \"The main title of the blog post\"\n    },\n    \"blog_body\": {\n      \"type\": \"string\",\n      \"minLength\": 1,\n      \"description\": \"Full blog content in HTML format\"\n    },\n    \"image_prompt\": {\n      \"type\": \"string\",\n      \"minLength\": 1,\n      \"description\": \"Short descriptive prompt for blog thumbnail image\"\n    },\n    \"meta_title\": {\n      \"type\": \"string\",\n      \"minLength\": 1,\n      \"description\": \"SEO-friendly title for the blog\"\n    },\n    \"meta_description\": {\n      \"type\": \"string\",\n      \"minLength\": 1,\n      \"description\": \"SEO meta description for the blog (150-160 characters)\"\n    },\n   \"feature_image_alt\": {\n  \"type\": \"string\",\n  \"minLength\": 1,\n  \"description\": \"Alt text for the main blog image (exactly 74 characters including spaces)\"\n},\n    \"custom_excerpt\": {\n      \"type\": \"string\",\n      \"minLength\": 1,\n      \"description\": \"Short excerpt for blog previews (max 250 characters)\"\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        552,
        -920
      ],
      "id": "1b05a38f-eecd-4a30-9896-b87b4264cd27",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        424,
        -920
      ],
      "id": "551c0ef3-ceb3-4ad2-b691-4d1db94c3614",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "e1CAmF4GYxN4c6bA",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a complete AI image prompt for this blog post:\n\nTitle: {{ $json.output.blog_title }}\nInitial Image Prompt: {{ $json.output.image_prompt }}\n\nInclude all required elements in JSON: logo, background, text_overlay (headline and subheadline), and output settings.\nOutput only the JSON.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert AI that creates the best descriptive prompts for AI image generation. \nRead the blog title and image prompt. Generate a JSON output for a blog thumbnail image that includes the logo, background, text overlay, and output settings. \nEnsure high visual clarity, style, and composition suitable for a professional blog thumbnail."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        768,
        -1144
      ],
      "id": "7314fc95-ec01-4678-b917-9a1bce4c0f48",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"AI Image Prompt Schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"blog_title\": {\n      \"type\": \"string\",\n      \"description\": \"Title of the blog post\"\n    },\n    \"image_prompt\": {\n      \"type\": \"string\",\n      \"description\": \"Initial AI prompt description of the image\"\n    },\n    \"ai_image_config\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"logo\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"file\": { \"type\": \"string\" },\n            \"position\": { \"type\": \"string\" },\n            \"size_percentage\": { \"type\": \"number\" },\n            \"transparent\": { \"type\": \"boolean\" }\n          },\n          \"required\": [\"file\", \"position\", \"size_percentage\", \"transparent\"]\n        },\n        \"background\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"scene\": { \"type\": \"string\" },\n            \"mood\": { \"type\": \"string\" },\n            \"lighting\": { \"type\": \"string\" },\n            \"composition\": { \"type\": \"string\" },\n            \"copy_space\": { \"type\": \"string\" }\n          },\n          \"required\": [\"scene\", \"mood\", \"lighting\", \"composition\", \"copy_space\"]\n        },\n        \"text_overlay\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"headline\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"text\": { \"type\": \"string\" },\n                \"font\": { \"type\": \"string\" },\n                \"style\": { \"type\": \"string\" },\n                \"color\": { \"type\": \"string\" },\n                \"background_box\": { \"type\": \"string\" },\n                \"size_ratio\": { \"type\": \"number\" }\n              },\n              \"required\": [\"text\", \"font\", \"style\", \"color\", \"background_box\", \"size_ratio\"]\n            },\n            \"subheadline\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"text\": { \"type\": \"string\" },\n                \"font\": { \"type\": \"string\" },\n                \"style\": { \"type\": \"string\" },\n                \"color\": { \"type\": \"string\" },\n                \"size_ratio\": { \"type\": \"number\" },\n                \"separator\": { \"type\": \"string\" }\n              },\n              \"required\": [\"text\", \"font\", \"style\", \"color\", \"size_ratio\", \"separator\"]\n            }\n          },\n          \"required\": [\"headline\", \"subheadline\"]\n        },\n        \"output\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"format\": { \"type\": \"string\" },\n            \"resolution\": { \"type\": \"string\" }\n          },\n          \"required\": [\"format\", \"resolution\"]\n        }\n      },\n      \"required\": [\"logo\", \"background\", \"text_overlay\", \"output\"]\n    }\n  },\n  \"required\": [\"blog_title\", \"image_prompt\", \"ai_image_config\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        840,
        -920
      ],
      "id": "489f2231-005f-45cb-96b8-6b76ceafd69d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 08497f4fa6efe5375fa1c23ce48ab9ec"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        -1144
      ],
      "id": "be89975a-4926-49b7-85aa-01966a8e11bc",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5dc7f20a-a66b-442d-b7e5-ff8c2112f658",
              "leftValue": "={{ $json.data.resultJson }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        -1216
      ],
      "id": "75163c41-1f6d-426e-9379-d906d503cb0f",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2144,
        -1048
      ],
      "id": "2b3c536e-f0ca-414d-8c1c-c059bf2746c2",
      "name": "Wait",
      "webhookId": "9d89ea84-4c96-47b0-829c-c0a31561faca"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3de9ae14-a223-4181-ad2f-297898eb8a30",
              "name": "data.resultJson",
              "value": "={{ $('If').item.json.data.resultJson }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -1712
      ],
      "id": "46eede1b-1294-4ca9-8acc-0224d463a27e",
      "name": "url"
    },
    {
      "parameters": {
        "jsCode": "// Parse the nested JSON string\nconst resultJson = JSON.parse($input.first().json.data.resultJson);\n\n// Get the first URL from resultUrls array\nconst imageUrl = resultJson.resultUrls[0];\n\n// Return it\nreturn [\n  {\n    json: {\n      url: imageUrl\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -1712
      ],
      "id": "7abba29e-3fb8-4400-bd85-a99f70d9bada",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -1712
      ],
      "id": "35656948-ed3b-4893-8f5a-b612447cfaa4",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 08497f4fa6efe5375fa1c23ce48ab9ec"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-2\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"prompt\": \"{{ $json.output.prompt }}, Place the logo in the top-right corner, sized at 6% of the image width, using this exact image as the logo: https://drive.google.com/uc?export=download&id=1gMMCs-tXuLny63KjO3fI_Ru0eLJRe4A8\",\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"1K\",\n    \"output_format\": \"png\",\n    \"image_input\": [\n      \"https://drive.google.com/uc?export=download&id=1yWOaiozEMYQak6K2loYqNM6WqbjpFqkj\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        -1144
      ],
      "id": "47f065d3-abc5-48b4-99db-5e326a8a9e06",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate the full AI image prompt for this blog thumbnail based on the user JSON:\n\n{{$json.toJsonString()}}\n\nOutput format must be:\n\n{\n  \"prompt\": \"...\"\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert AI that converts structured blog and image data into a single professional image generation prompt. \nRead the user input JSON containing blog_title, image_prompt, and ai_image_config (logo, background, text_overlay, output). \nYour task is to produce a single clear, creative, and highly detailed prompt string suitable for AI image generation of a blog thumbnail. \nAlways explicitly mention the logo URL in the prompt text so the AI uses it as the logo. \nInclude all visual elements: logo placement, background scene, mood, lighting, composition, copy space, headline and subheadline styling. \nDo NOT include technical fields like aspect_ratio, resolution, or output_format in the prompt. \nOutput ONLY a JSON with one key: \"prompt\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1120,
        -1144
      ],
      "id": "babc3687-3665-473a-ade6-90ccf002b957",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1128,
        -920
      ],
      "id": "cb23de5c-33ae-44a0-8406-079c03d48fd0",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "ZBhLWY8ntDyWzHoL",
          "name": "DeepSeek account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"AI Image Prompt Output\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"prompt\": {\n      \"type\": \"string\",\n      \"description\": \"Full descriptive AI image generation prompt including logo, background, text overlay, and styling details.\"\n    }\n  },\n  \"required\": [\"prompt\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1256,
        -920
      ],
      "id": "e04c70fe-d339-4f40-a4de-bb8aa41b9983",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "name": "={{ $('Edit Fields2').item.json.title }} Thumbnail",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('media folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        -1712
      ],
      "id": "bf2f20c1-f903-4673-a95c-93d0efa04e63",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NxkHcsqsbqGJ855W",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Media",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -256,
        -1712
      ],
      "id": "fe87a279-5892-4893-9f56-f08f868b4a8d",
      "name": "media folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NxkHcsqsbqGJ855W",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('AI Agent3').item.json.output.blog_title }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gRyJ7CvawKzCaTLwJGBAbovWDVbniRtb",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        -1712
      ],
      "id": "442f54cf-ab6e-47f3-834b-f5da09c16645",
      "name": "Blog folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NxkHcsqsbqGJ855W",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b5b651f-2dbb-4739-9bed-37f07a9c095d",
              "name": "title",
              "value": "={{ $('AI Agent3').item.json.output.blog_title }}",
              "type": "string"
            },
            {
              "id": "3ea40339-f1d8-48c5-bf49-170df1a646fe",
              "name": "body content",
              "value": "={{ $('AI Agent3').item.json.output.blog_body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -1712
      ],
      "id": "237b9ca5-8dbe-43c3-a448-252e66915669",
      "name": "data"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1312,
        -1712
      ],
      "id": "967fdc9d-de3c-4155-8789-99f696a60ebb",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b342a66-57ef-4747-bf5d-23817c0413db",
              "name": "data",
              "value": "=Tittle :  {{ $json.title }}\nbody content : {{ $json[\"body content\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -1712
      ],
      "id": "29057e1e-76de-4cad-be5a-fdf00ab92d55",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "name": "={{ $('Edit Fields2').item.json.title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Blog folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1536,
        -1712
      ],
      "id": "860afea6-4f38-46c7-bb88-9c612467a000",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NxkHcsqsbqGJ855W",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "## GilgitApp blog posts\n**GilgitApp blog posts workflow**",
        "height": 1232,
        "width": 4240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -904,
        -2008
      ],
      "typeVersion": 1,
      "id": "8bf27f14-0d79-4b08-aae0-3b43ed6a8074",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Fc2WAH3CdkshRKTslRX-igbWy_fPkh9HcYd9SdeNUQ8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 890493958,
          "mode": "list",
          "cachedResultName": "GilgitApp blog posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fc2WAH3CdkshRKTslRX-igbWy_fPkh9HcYd9SdeNUQ8/edit#gid=890493958"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Google Sheets Trigger1').item.json.ID }}",
            "Status": "published"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Blog Title ",
              "displayName": "Blog Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Main Idea / Topic",
              "displayName": "Main Idea / Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SEO Keywords ",
              "displayName": "SEO Keywords ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image prompt (optional)",
              "displayName": "Image prompt (optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Blog Link",
              "displayName": "Blog Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -480,
        -1488
      ],
      "id": "a02f137a-8991-4771-8457-fd9acfe0866e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kdsAlHYI98bh6Sbg",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gilgit.app/blog/ghost/api/admin/posts/?source=html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Ghost {{ $json.token }}"
            },
            {
              "name": "Accept-Version",
              "value": "v5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"posts\": [\n    {\n      \"title\": \"{{ $('AI Agent3').first().json.output.blog_title }}\",\n      \"html\": \"{{ $('AI Agent3').first().json.output.blog_body }}\",\n      \"status\": \"draft\",\n      \"feature_image\": \"{{ $('Code in JavaScript2').item.json.url }}\",\n      \"feature_image_alt\": \"{{ $('AI Agent3').first().json.output.feature_image_alt }}\",\n      \"custom_excerpt\": \"{{ $('AI Agent3').first().json.output.custom_excerpt }}\",\n      \"meta_title\": \"{{ $('AI Agent3').first().json.output.meta_title }}\",\n      \"meta_description\": \"{{ $('AI Agent3').first().json.output.meta_description }}\",\n      \"twitter_card\": {\n        \"feature_image\": \"{{ $('Code in JavaScript2').item.json.url }}\",\n        \"twitter_title\": \"{{ $('AI Agent3').first().json.output.meta_title }}\",\n        \"twitter_description\": \"{{ $('AI Agent3').first().json.output.meta_description }}\"\n      },\n\n      \"facebook_card\": {\n        \"feature_image\": \"{{ $('Code in JavaScript2').item.json.url }}\",\n        \"facebook_title\": \"{{ $('AI Agent3').first().json.output.blog_title }}\",\n        \"facebook_description\": \"{{ $('AI Agent3').first().json.output.custom_excerpt }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        -1264
      ],
      "id": "e123777e-d3c6-4bed-a57a-f27896a13e46",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw JSON string\nconst raw = $input.first().json.data.resultJson;\n\n// Parse it into an object\nconst parsed = JSON.parse(raw);\n\n// Extract the first URL from resultUrls\nconst imageUrl = parsed.resultUrls[0];\n\nreturn {\n  json: {\n    url: imageUrl\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        -1264
      ],
      "id": "091b5548-5cd7-4398-8d21-6a05b891cf38",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "// ── pure-JS HMAC-SHA256 ─────────────────────────────────────────────\nfunction strToBytes(s) {\n  const buf = Buffer.from(s, 'utf8');\n  return Array.from(buf);\n}\n\nfunction sha256(message, key) {\n  const BLOCK = 64;\n  function xor(a, b) { return a.map((v, i) => v ^ b[i]); }\n\n  let k = [...key];\n  if (k.length > BLOCK) k = sha256raw(k);\n  while (k.length < BLOCK) k.push(0);\n\n  const opad = xor(k, Array(BLOCK).fill(0x5c));\n  const ipad = xor(k, Array(BLOCK).fill(0x36));\n\n  return sha256raw([...opad, ...sha256raw([...ipad, ...message])]);\n}\n\nfunction sha256raw(data) {\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n  ];\n  let [h0,h1,h2,h3,h4,h5,h6,h7] = [\n    0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,\n    0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19\n  ];\n\n  const msg = [...data, 0x80];\n  while (msg.length % 64 !== 56) msg.push(0);\n  const bitLen = data.length * 8;\n  for (let i = 7; i >= 0; i--) msg.push((bitLen / Math.pow(2, i * 8)) & 0xff);\n\n  for (let i = 0; i < msg.length; i += 64) {\n    const w = [];\n    for (let j = 0; j < 16; j++)\n      w[j] = (msg[i+j*4]<<24)|(msg[i+j*4+1]<<16)|(msg[i+j*4+2]<<8)|msg[i+j*4+3];\n    for (let j = 16; j < 64; j++) {\n      const s0 = rotr(w[j-15],7)^rotr(w[j-15],18)^(w[j-15]>>>3);\n      const s1 = rotr(w[j-2],17)^rotr(w[j-2],19)^(w[j-2]>>>10);\n      w[j] = (w[j-16]+s0+w[j-7]+s1) >>> 0;\n    }\n    let [a,b,c,d,e,f,g,h] = [h0,h1,h2,h3,h4,h5,h6,h7];\n    for (let j = 0; j < 64; j++) {\n      const S1 = rotr(e,6)^rotr(e,11)^rotr(e,25);\n      const ch = (e&f)^(~e&g);\n      const t1 = (h+S1+ch+K[j]+w[j]) >>> 0;\n      const S0 = rotr(a,2)^rotr(a,13)^rotr(a,22);\n      const maj = (a&b)^(a&c)^(b&c);\n      const t2 = (S0+maj) >>> 0;\n      [h,g,f,e,d,c,b,a] = [g,f,e,(d+t1)>>>0,c,b,a,(t1+t2)>>>0];\n    }\n    h0=(h0+a)>>>0; h1=(h1+b)>>>0; h2=(h2+c)>>>0; h3=(h3+d)>>>0;\n    h4=(h4+e)>>>0; h5=(h5+f)>>>0; h6=(h6+g)>>>0; h7=(h7+h)>>>0;\n  }\n  return [h0,h1,h2,h3,h4,h5,h6,h7].flatMap(h => [h>>>24,(h>>>16)&0xff,(h>>>8)&0xff,h&0xff]);\n}\n\nfunction rotr(x, n) { return (x >>> n) | (x << (32 - n)); }\n\n// ── JWT builder ────────────────────────────────────────────────────\nfunction b64url(str) {\n  return Buffer.from(str, 'utf8')\n    .toString('base64')\n    .replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nfunction b64urlBytes(bytes) {\n  return Buffer.from(bytes)\n    .toString('base64')\n    .replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nconst apiKey = '69a97842d52201b1f5fbbdcb:34a0778304bc7ed6a06994247771af3b12ae21accd5c38a0e979827c265edef9'; // 👈 replace this\nconst [kid, secret] = apiKey.split(':');\nconst now = Math.floor(Date.now() / 1000);\n\nconst header  = b64url(JSON.stringify({ alg: 'HS256', typ: 'JWT', kid }));\nconst payload = b64url(JSON.stringify({ iat: now, exp: now + 300, aud: '/admin/' }));\nconst signingInput = `${header}.${payload}`;\n\n// Hex-decode secret\nconst secretBytes = secret.match(/.{1,2}/g).map(b => parseInt(b, 16));\n\n// Sign using pure-JS HMAC-SHA256\nconst msgBytes = strToBytes(signingInput);\nconst sigBytes = sha256(msgBytes, secretBytes);\n\nconst token = `${signingInput}.${b64urlBytes(sigBytes)}`;\n\nreturn [{ json: { token } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        -1264
      ],
      "id": "d2647e47-254f-4e81-9e50-432a0cafeddc",
      "name": "jwt token"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Fc2WAH3CdkshRKTslRX-igbWy_fPkh9HcYd9SdeNUQ8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 890493958,
          "mode": "list",
          "cachedResultName": "GilgitApp blog posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fc2WAH3CdkshRKTslRX-igbWy_fPkh9HcYd9SdeNUQ8/edit#gid=890493958"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Google Sheets Trigger1').first().json.ID }}",
            "Status": "published",
            "Blog Link": "={{ $json.posts[0].url }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Blog Title ",
              "displayName": "Blog Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Main Idea / Topic",
              "displayName": "Main Idea / Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SEO Keywords ",
              "displayName": "SEO Keywords ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image prompt (optional)",
              "displayName": "Image prompt (optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Blog Link",
              "displayName": "Blog Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2816,
        -1264
      ],
      "id": "b2b3eb25-a04d-4cf8-aeaf-e4db0d305f2f",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kdsAlHYI98bh6Sbg",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {
    "HTTP Request3": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "3cf5c924b6f50f4f5a45b2164ae725bb",
            "recordId": "3cf5c924b6f50f4f5a45b2164ae725bb"
          }
        }
      }
    ],
    "HTTP Request1": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "3cf5c924b6f50f4f5a45b2164ae725bb",
            "model": "nano-banana-pro",
            "state": "success",
            "param": "{\"input\":\"{\\\"image_input\\\":[\\\"https://drive.google.com/uc?export=download&id=1yWOaiozEMYQak6K2loYqNM6WqbjpFqkj\\\"],\\\"aspect_ratio\\\":\\\"16:9\\\",\\\"output_format\\\":\\\"png\\\",\\\"prompt\\\":\\\"Professional tech review style blog thumbnail image showing top 10 premium smartphones arranged neatly in a semi-circle on a reflective glass surface in a clean minimalist studio setup. The smartphones should be arranged in a visually appealing pattern with different models and colors showcased, using an overhead shot with slight angle perspective. Soft studio lighting with subtle rim lighting to highlight device edges, creating clean shadows and professional product photography lighting. Modern Pakistani tech market aesthetic with a professional, trustworthy, and informative mood. Include the logo from URL 'tech_review_logo.png' positioned at the top-right corner, sized at 8% of the image with transparent background. Create ample copy space at the top-center area with approximately 40% of image height as clean negative space for text overlay. Overlay the headline text 'TOP 10 MOBILE PHONES UNDER 50,000 PKR' in Montserrat Bold font, all caps with subtle shadow effect, in white color (#FFFFFF) on a semi-transparent dark gradient overlay (#1a1a1a with 70% opacity). Below it, overlay the subheadline text 'Ultimate Buying Guide 2024 | Pakistan Market' in Montserrat Regular font, clean and readable with slight letter spacing, in gold color (#FFD700), separated by a vertical bar. The composition should be balanced with negative space, high detail, realistic product photography, and a modern aesthetic suitable for a tech buying guide., Place the logo in the top-right corner, sized at 8% of the image width, using this exact image as the logo: https://drive.google.com/uc?export=download&id=1gMMCs-tXuLny63KjO3fI_Ru0eLJRe4A8\\\",\\\"resolution\\\":\\\"1K\\\"}\",\"callBackUrl\":\"https://your-domain.com/api/callback\",\"model\":\"nano-banana-pro\"}",
            "resultJson": "{\"resultUrls\":[\"https://tempfile.aiquickdraw.com/workers/nano/image_1773044740895_6hg59s.png\"]}",
            "failCode": null,
            "failMsg": null,
            "costTime": 84,
            "completeTime": 1773044742509,
            "createTime": 1773044658296
          }
        }
      }
    ],
    "AI Agent3": [
      {
        "json": {
          "output": {
            "blog_title": "Top 10 Mobile Phones Under 50,000 PKR in Pakistan: Ultimate Buying Guide 2024",
            "blog_body": "<h1>Top 10 Mobile Phones Under 50,000 PKR in Pakistan: Ultimate Buying Guide 2024</h1><p>Finding the perfect smartphone in Pakistan's competitive market can be challenging, especially when you're looking for the best value within a 50,000 PKR budget. This price segment has become incredibly competitive, offering premium features that were once exclusive to flagship devices. Whether you're a photography enthusiast, a gaming aficionado, or someone who needs reliable performance for daily tasks, our comprehensive guide will help you navigate through the best options available in Pakistan's smartphone market.</p><h2>Why the 50,000 PKR Price Range Matters</h2><p>The 50,000 PKR price bracket represents the sweet spot for smartphone buyers in Pakistan. At this price point, you get access to premium features like high-refresh-rate displays, powerful processors, excellent camera systems, and fast charging capabilities. These devices often bridge the gap between mid-range and flagship smartphones, offering exceptional value for money.</p><h2>Our Selection Criteria</h2><p>We've carefully evaluated smartphones based on several key factors to bring you the most reliable recommendations:</p><ul><li><strong>Performance:</strong> Processor speed, RAM, and overall system optimization</li><li><strong>Camera Quality:</strong> Both rear and front camera capabilities</li><li><strong>Display:</strong> Resolution, refresh rate, and overall visual experience</li><li><strong>Battery Life:</strong> Capacity and charging speed</li><li><strong>Value for Money:</strong> Features offered relative to the price</li><li><strong>Brand Reliability:</strong> After-sales service and software updates</li></ul><h2>Top 10 Mobile Phones Under 50,000 PKR in Pakistan</h2><h3>1. Samsung Galaxy A54 5G</h3><p>The Samsung Galaxy A54 5G stands out with its premium build quality and excellent camera system. Featuring a 6.4-inch Super AMOLED display with 120Hz refresh rate, Exynos 1380 processor, and a versatile triple camera setup, this device offers flagship-like experience at a mid-range price.</p><h3>2. Xiaomi Redmi Note 13 Pro+</h3><p>Xiaomi continues to dominate the value segment with the Redmi Note 13 Pro+. This powerhouse features a 200MP main camera, MediaTek Dimensity 7200 Ultra processor, and 120W fast charging – features rarely found in this price range.</p><h3>3. Realme 11 Pro+</h3><p>Realme's offering brings premium design and photography capabilities with its 200MP OIS camera system. The curved AMOLED display and MediaTek Dimensity 7050 processor make it a strong contender for multimedia enthusiasts.</p><h3>4. Infinix Zero 30 5G</h3><p>Infinix surprises with the Zero 30 5G, featuring a 50MP selfie camera with 4K video recording capability. The MediaTek Dimensity 8020 processor and 68W fast charging make it perfect for content creators.</p><h3>5. Tecno Camon 20 Premier</h3><p>Tecno focuses on camera innovation with the Camon 20 Premier, featuring a unique RGBW sensor for better low-light photography. The MediaTek Helio G99 processor and 5000mAh battery ensure reliable performance throughout the day.</p><h3>6. Oppo Reno 10</h3><p>Oppo's Reno 10 brings premium camera features with its periscope telephoto lens, offering 2x optical zoom. The Snapdragon 778G processor and 80W fast charging make it a well-rounded package.</p><h3>7. Vivo V29</h3><p>Vivo's V29 stands out with its Aura Light portrait system, perfect for selfie enthusiasts. The Snapdragon 778G processor and 4600mAh battery with 80W charging provide excellent performance.</p><h3>8. OnePlus Nord CE 3</h3><p>OnePlus brings its signature smooth experience with the Nord CE 3, featuring OxygenOS and Snapdragon 782G processor. The 50MP main camera with OIS and 80W fast charging make it a compelling choice.</p><h3>9. Motorola Edge 40</h3><p>Motorola's Edge 40 offers near-stock Android experience with timely updates. The MediaTek Dimensity 8020 processor, 68W fast charging, and IP68 water resistance provide excellent value.</p><h3>10. Google Pixel 6a</h3><p>While sometimes available around this price during sales, the Google Pixel 6a offers the best camera software experience with Google's Tensor processor and clean Android experience.</p><h2>Key Features to Consider When Buying</h2><h3>Camera Performance</h3><p>Modern smartphones in this range offer impressive camera capabilities. Look for features like OIS (Optical Image Stabilization), high megapixel counts, and multiple lens setups for versatility.</p><h3>Display Quality</h3><p>AMOLED displays with high refresh rates (90Hz or 120Hz) provide smoother scrolling and better gaming experiences. Consider display size and resolution based on your usage patterns.</p><h3>Processor and Performance</h3><p>Look for processors that balance performance and power efficiency. Popular options include MediaTek Dimensity series, Qualcomm Snapdragon 7 series, and Samsung's Exynos processors.</p><h3>Battery and Charging</h3><p>5000mAh batteries have become standard, but charging speed varies significantly. Fast charging capabilities (65W to 120W) can dramatically reduce charging times.</p><h2>Buying Tips for Pakistani Consumers</h2><ol><li><strong>Check Official Warranty:</strong> Always purchase from authorized dealers to ensure warranty coverage</li><li><strong>Compare Prices:</strong> Check multiple retailers both online and offline for best deals</li><li><strong>Consider After-Sales Service:</strong> Research brand service centers in your city</li><li><strong>Wait for Sales:</strong> Major shopping events often bring significant discounts</li><li><strong>Read User Reviews:</strong> Check feedback from Pakistani users for real-world performance</li></ol><h2>Conclusion</h2><p>The 50,000 PKR smartphone market in Pakistan offers incredible diversity and value. Each device on our list brings unique strengths – whether it's Samsung's reliable performance, Xiaomi's feature-packed offerings, or Realme's camera innovations. Your final choice should depend on your specific needs: prioritize camera quality if you're a photography enthusiast, focus on processor performance for gaming, or consider battery life for heavy usage. With careful consideration of our recommendations and buying tips, you're sure to find the perfect smartphone that offers the best value for your 50,000 PKR investment in Pakistan's dynamic mobile market.</p>",
            "image_prompt": "Professional tech review style image showing top 10 smartphones arranged neatly on a clean surface with soft professional lighting, high detail, realistic product photography, modern Pakistani tech market aesthetic",
            "meta_title": "Top 10 Best Mobile Phones Under 50000 PKR in Pakistan 2024 Guide",
            "meta_description": "Discover the top 10 mobile phones under 50000 PKR in Pakistan. Our comprehensive guide covers Samsung, Xiaomi, Realme, and more with detailed specs, camera quality, and buying tips for Pakistani consumers.",
            "feature_image_alt": "Top 10 smartphones under 50000 PKR arranged professionally for Pakistani tech review",
            "custom_excerpt": "Discover the best mobile phones under 50000 PKR in Pakistan with our expert guide to top smartphones and buying tips."
          }
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": {
            "blog_title": "Top 10 Mobile Phones Under 50,000 PKR in Pakistan: Ultimate Buying Guide 2024",
            "image_prompt": "Professional tech review style image showing top 10 smartphones arranged neatly on a clean surface with soft professional lighting, high detail, realistic product photography, modern Pakistani tech market aesthetic",
            "ai_image_config": {
              "logo": {
                "file": "tech_review_logo.png",
                "position": "top-right",
                "size_percentage": 8,
                "transparent": true
              },
              "background": {
                "scene": "Clean minimalist studio setup with 10 premium smartphones arranged in a semi-circle on a reflective glass surface, showcasing different models and colors",
                "mood": "Professional, trustworthy, modern, and informative",
                "lighting": "Soft studio lighting with subtle rim lighting to highlight device edges, clean shadows, professional product photography lighting",
                "composition": "Overhead shot with slight angle, smartphones arranged in a visually appealing pattern with space for text overlay, balanced negative space",
                "copy_space": "Top-center area with clean negative space for text overlay, approximately 40% of image height"
              },
              "text_overlay": {
                "headline": {
                  "text": "Top 10 Mobile Phones Under 50,000 PKR",
                  "font": "Montserrat Bold",
                  "style": "All caps with subtle shadow effect",
                  "color": "#FFFFFF",
                  "background_box": "Semi-transparent dark gradient overlay (#1a1a1a with 70% opacity)",
                  "size_ratio": 0.08
                },
                "subheadline": {
                  "text": "Ultimate Buying Guide 2024 | Pakistan Market",
                  "font": "Montserrat Regular",
                  "style": "Clean and readable with slight letter spacing",
                  "color": "#FFD700",
                  "size_ratio": 0.04,
                  "separator": "Vertical bar"
                }
              },
              "output": {
                "format": "PNG",
                "resolution": "1920x1080"
              }
            }
          }
        }
      }
    ],
    "AI Agent1": [
      {
        "json": {
          "output": {
            "prompt": "Professional tech review style blog thumbnail image showing top 10 premium smartphones arranged neatly in a semi-circle on a reflective glass surface in a clean minimalist studio setup. The smartphones should be arranged in a visually appealing pattern with different models and colors showcased, using an overhead shot with slight angle perspective. Soft studio lighting with subtle rim lighting to highlight device edges, creating clean shadows and professional product photography lighting. Modern Pakistani tech market aesthetic with a professional, trustworthy, and informative mood. Include the logo from URL 'tech_review_logo.png' positioned at the top-right corner, sized at 8% of the image with transparent background. Create ample copy space at the top-center area with approximately 40% of image height as clean negative space for text overlay. Overlay the headline text 'TOP 10 MOBILE PHONES UNDER 50,000 PKR' in Montserrat Bold font, all caps with subtle shadow effect, in white color (#FFFFFF) on a semi-transparent dark gradient overlay (#1a1a1a with 70% opacity). Below it, overlay the subheadline text 'Ultimate Buying Guide 2024 | Pakistan Market' in Montserrat Regular font, clean and readable with slight letter spacing, in gold color (#FFD700), separated by a vertical bar. The composition should be balanced with negative space, high detail, realistic product photography, and a modern aesthetic suitable for a tech buying guide."
          }
        }
      }
    ]
  },
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "media folder": {
      "main": [
        [
          {
            "node": "url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog folder": {
      "main": [
        [
          {
            "node": "media folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "jwt token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "jwt token": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5bd7f10-fe90-4ee0-9bcc-449eebdec550",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f69eeec8ea9daa545fcc324365536c2040645353f7993a4239619466c43daea"
  },
  "id": "ol1rRMzdrYmzSzB6",
  "tags": []
}